.container {
    display: flex;
    flex-direction: column;
    margin-left:20px;
    position: relative;
    display: inline-block;
  }
h1 {
    margin-bottom: -20px;
    
}
p {
    margin-top: 0;

}
.container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;     
    width: 100%;
    height: 3px;     
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  }
  .text{
    margin-top:20px;
  }


  